body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background: linear-gradient(100deg, rgb(133, 225, 94), rgb(27, 23, 149))
  }
  
  header {
    background-color: #292929;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    font-family: 'Michroma', sans-serif;
    color: rgb(204, 235, 4);
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  #subcranio {
    color: #2d2e2e;
    text-align: center;
    font-size: 1em;
    margin-top: 0;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.4em;
    color: rgb(31, 31, 30);
    background-color: #b5f006;
  }
  
  .joaoflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  .headflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  
  .wesleyflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  #rodape{
    font-size: 0.8em;
    text-align: center;
    margin-top: 2em;
    padding: 1rem;
    border-top: 2px solid #c4f002
  }
  
  /* Estilos e proporções para telas ACIMA de 570px */
  
  @media (min-width: 570px) {

   .joaoflex, .headflex, .wesleyflex {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  
    .imgjoao, .imghead, .imgwesley {
      width: 30%;
      height: auto;
    }
  
    .joao, .head, .wesley {
      width: 60%;
      font-size: 1.2em;
    }
  
  }
  
  /* Estilos e proporções para telas ABAIXO de 570px */
  
  @media (max-width: 570px) {
  
    .joaoflex, .headflex, .wesleyflex {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .imgjoao, .imghead, .imgwesley {
      width: 70%;
      height: auto;
    }
  
    .joao, .head, .wesley {
      width: 80%;
      font-size: 1em;
      text-align: center;
      margin-top: 1em;
    }
  
    #rodape {
      font-size: 0.8em;
      text-align: center;
      margin-top: 2em;
      padding: 1rem;
      border-top: 2px solid #a9db2c
    }
  
  }
  