#cranio{
        font-size: 44px;
        color: rgb(207, 231, 53);
        margin-top: 34px;
        text-align: center ;
        font-family: 'Michroma', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
}

#subcranio{
        font-size: 21px;
        text-align: center ;
        font-weight: bold;
        color: rgb(98, 98, 98);
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 1px;
}

.imgjoao{
        height: 270px;
        margin-top: 10rem;
        margin-left: 120px;
        float: left;
        margin-right: 6rem;
}

@media (max-width: 570px) {
    .imgjoao {
        height: 200px;
        margin-top: 5rem;
        margin-left: 2rem;
        float: none;
        margin-right: none;
    }
    }

.joao{
        margin-top: 17rem;
        font-size: 18px;
        margin-left: 6rem;
}

@media (max-width: 570px) {
    .joao {
        text-align: center;
        margin-top: 5rem;
        font-size: 18px;
        margin-left: 0rem;
    }
    }

.imghead{
        height: 330px;
        margin: 10rem 120px 10rem 0;
        float: right;
        margin-left: 6rem;
}

@media (max-width: 570px) {
    .imghead {
        height: 250px;
        margin-top: 8rem;
        margin-left: 3rem;
        float: none;
        margin-right: none;
    }
    }

.head{
        text-align: right;
        font-size: 18px;
        margin-top: 17%;
}

@media (max-width: 570px) {
    .head {
        margin-top: 0rem;
        font-size: 18px;
        text-align: center;
    }
    }

.imgwesley{
        height: 350px;
        margin-top: 10rem;
        margin-left: 120px;
        float: left;
}

@media (max-width: 570px) {
    .imgwesley {
        height: 260px;
        margin-left: 3rem;
        float: none;
        margin-right: none;
    }
    }
  
.wesley{
        margin-top: 20rem;
        font-size: 18px;
        text-align: left;
        margin-left: 36rem;
        
}

@media (max-width: 570px) {
    .wesley {
        margin-left: 1rem;
        margin-top: 3rem;
        font-size: 18px;
        text-align: center;
      
    }
    }

body{
        max-width: 100%;
        font-weight: 500;
        line-height: 1.5;
        font-family: 'Source Sans Pro', sans-serif;
        background: linear-gradient(100deg, rgb(133, 225, 94), rgb(27, 23, 149))
    
}

@media (max-width: 570px) {
    body {
        max-width: 100%;
        background: linear-gradient(100deg, rgb(133, 225, 94), rgb(27, 23, 149)) 
    }
    }

#rodape{
        text-align: center;
        margin-top: 21rem;
        padding: 1rem;
        border-top: 2px solid #a9db2c
}